/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', sans-serif;
  font-size: 16px;
}
.container {
  display: block;
  width: 90%;
  max-width: 980px;
  margin: 5rem auto;
}